/* CSS stillerinizi buraya girin */
header {
  width: 99vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
.header {
  margin: 0;
  color: gray;
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.main_up {
  width: 99vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.menu {
  width: 79vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
#top_name {
  display: flex;
  width: 20vw;
  height: 5vh;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 2rem;
}
.menu_item {
  width: 70px;
  height: 20px;
  background: lightgray;
  border: 1px solid black;
  margin: 1px;
  font-size: 0.8rem;
  align-self: center;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 4px;
  color: black;
  font-weight: bold;
}
.main {
  width: 60vw;
  height: 30vh;
  background-image: url("https://picsum.photos/seed/picsum/700/400");
  margin-left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main_name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.main_projects {
  font-size: 1.2rem;
  margin-top: 0;
}
.content {
  display: flex;
  width: 99vw;
  height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content_item {
  width: 25vw;
  height: 13vh;
  background: lightgray;
  border: 1px solid black;
  margin: 5px;
  font-size: 0.8rem;
  align-self: center;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 80px;
  text-align: center;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  width: 98vw;
  height: 8vh;
  margin: 0px;
}
.contact_btn {
  width: 90px;
  height: 30px;
  background: lightgray;
  border: 1px solid black;
  margin: 1px;
  font-size: 1.2rem;
  align-self: center;
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 8px;
  color: black;
  font-weight: bold;
}
